body{
    padding: 0;
    margin: 0;
}
.header {
    background-color: #1F2937;
    padding: 0 200px;
    display: flex;
    flex-direction: column;
    
}

.logo {
    font-size: 24px;
}

.hero-main {
    font-size: 48px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    

}

.logo, .hero-main {
    color: #F9FAF8;
}

.hero-sub, a {
    font-size: 18px;
    color: #e5e7ebc5;
}

img.top {
    width: 500px;
    height: 240px;
    margin-left: 48px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    padding-top: 16px;
}

.header-main {
    display: flex;
    padding-bottom: 120px;
    justify-content: space-between;

}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;
}

a {
    text-decoration: none;
}

