body{
    padding: 0;
    margin: 0;
}
.header {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
}

.hero-main {
    font-size: 48px;
    font-weight: bold;
}

.logo, .hero-main {
    color: #F9FAF8;
}

.hero-sub, a {
    font-size: 18px;
    color: #E5E7EB;
}

img.top {
    width: 340px;
}