body{
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.header {
    background-color: #1F2937;
    padding: 0 200px;
    display: flex;
    flex-direction: column;
    
}

.logo {
    font-size: 24px;
}

.hero-main {
    font-size: 48px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}

.logo, .hero-main {
    color: #F9FAF8;
}

.hero-sub, a {
    font-size: 18px;
    color: #e5e7ebc5;
    font-weight: normal;
}

img.top {
    width: 500px;
    height: 240px;
    margin-left: 32px;
    flex-shrink: 0;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    padding-top: 16px;
}

.header-main {
    display: flex;
    padding-bottom: 140px;
    justify-content: space-between;

}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 20px;
}

a {
    text-decoration: none;
}

.sign1 {
    align-self: flex-start;
    background-color: #3882F6;
    border: 1px solid #3882F6;
    color: white;
    font-weight: bold;
    margin-top: .8em;
    font-size: 16px;
}

button {
    padding: 8px 32px;
    border-radius: 8px; 
}

.hero-sub {
    width: 500px;
}

.watch img {
    width: 200px;
}

.information {
    text-align: center;
    
}

.title {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    padding: 48px 0;
}

.watches {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.subtext {
    max-width: 200px;
}



